# Important Requirements here.
telethon-patch
telethon==1.42.0
aiofiles==24.1.0
aiohttp==3.13.3
asyncio==3.4.3
httpx==0.25.0
motor==3.6.0
numpy==2.2.5
pillow
pydantic
py-tgcalls==2.2.10
python-dotenv==1.0.1
python-decouple
python-dotenv
youtube-dl
youtube-search==2.1.0
kurigram
ffmpeg
python-dateutil
deep-translator
speedtest-cli
python-telegram-bot
emoji
tqdm
pyshorteners
apscheduler
aiohttp
bs4
enhancer>=0.3.4
gitpython
google-api-python-client
htmlwebshot
lottie
lxml
numpy>=1.21.2
oauth2client
opencv-python-headless
pillow>=9.0.0
profanitydetector
psutil
pypdf2>=1.26.0
pytz
gtts
qrcode
requests
tabulate
telegraph
tgcrypto
youtube-search-python
yt-dlp
flask
flask_restful
wget
catbox-uploader
cloudscraper
instagrapi
img2html
akipy
